body, h1, p, ul, h2,h3,h4,h5, dl, dd{
  margin : 0;
  padding : 0;
}
li{
  list-style-type: none;
}
h1,h2,h3,h4,h5{
  font-size : 100;
  font-weight: normal;
}
.title{
  margin-top : 10px;
  margin-bottom : -30px;
}
.num{
  float : right;
  width : 25%;
  margin-right : 2.5%;
  vertical-align : top;
  border : black solid 2px;
  background-color :grey;
}

body{
  background-color : darkgrey;
}